    [dir="rtl"] body {
        padding-top: 164px;
    }
    
    [dir="rtl"] .banner .container .ratio>div {
        margin: 0 auto 22px 0;
    }
    
    [dir="rtl"] .accordion .accordion-section .title {
        padding-left: 0;
        padding-right: 65px;
    }
    
    [dir="rtl"] .accordion .accordion-section .title::before {
        right: 20px;
        left: 0;
    }
    
    [dir="rtl"] .accordion .accordion-section .title.active::after {
        right: 25px;
        left: 0;
    }
    
    [dir="rtl"] .accordion .accordion-section .add {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .accordion .accordion-section .list .dropdown {
        background: url(../images/card-arrow.svg) no-repeat left 13px center;
        padding-left: 0;
        padding-right: 15px;
    }
    
    [dir="rtl"] .accordion .accordion-section .list .dropdown {
        margin-left: 0;
    }
    
    [dir="rtl"] .accordion .accordion-section .list .btn {
        margin-left: 0;
        margin-right: 18px;
    }
    
    [dir="rtl"] .topbar .container .right-side {
        margin-right: auto;
        margin-left: 0;
    }
    
    [dir="rtl"] .navbar .cart {
        margin-right: 30px;
        margin-left: 0;
    }
    
    [dir="rtl"] .navbar .cart a figure {
        margin-right: 0;
        margin-left: 17px;
    }
    
    [dir="rtl"] .navbar .cart a span.count {
        right: 10px;
    }
    
    [dir="rtl"] main .own-ingots .container {
        text-align: right;
    }
    
    [dir="rtl"] .has-sidebar .container .has-sidebarcontent .sidebar {
        text-align: right;
    }
    
    [dir="rtl"] .has-sidebar .container .has-sidebarcontent .sidebar .search form {
        padding-left: 15px;
        padding-right: 0;
    }
    
    [dir="rtl"] .has-sidebar .container .has-sidebarcontent .sidebar .checkbox {
        text-align: right;
    }
    
    [dir="rtl"] .has-sidebar .container .has-sidebarcontent .sidebar .features {
        text-align: right;
    }
    
    [dir="rtl"] .has-sidebar .container .has-sidebarcontent .sidebar .features .options .details {
        margin-right: 15px;
    }
    
    [dir="rtl"] .has-sidebar .container .has-sidebarcontent .products {
        margin-left: 0;
        margin-right: 40px;
    }
    
    [dir="rtl"] .virtual-gold {
        text-align: right;
    }
    
    [dir="rtl"] .page-heading .container .steps.wizard-steps .progress {
        right: 0;
        left: auto;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .field .sub-label {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .field .input {
        padding-left: 0;
        padding-right: 15px;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .field span {
        right: auto;
        left: 20px;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .two-fields p {
        margin-left: 30px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 15px;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .two-fields p:last-child {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 15px;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .two-fields p span {
        right: 0;
        left: auto;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .two-fields .field {
        margin-right: 0;
        margin-left: 29px;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .fields .two-fields .field:last-child {
        margin-left: 0;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .details {
        text-align: right;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .details .gold-details {
        padding-right: 0;
        padding-left: 30px;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .details .personal-details {
        padding-right: 30px;
        padding-left: 0;
    }
    
    [dir="rtl"] .virtual-gold .tabs #second>div .order {
        margin-left: 0;
        margin-right: 60px;
    }
    
    [dir="rtl"] .register {
        text-align: right;
    }
    
    [dir="rtl"] .register::after {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .register .container .register-body .fields .two-fields .field {
        margin-left: 20px;
        margin-right: 0;
    }
    
    [dir="rtl"] .register .container .register-body .fields .two-fields .field:last-child {
        margin-right: 15px;
        margin-left: 0;
    }
    
    [dir="rtl"] .register .container .register-body .fields .with-icon .fileUpload {
        margin-right: 15px;
        margin-left: 0;
    }
    
    [dir="rtl"] .register .container .register-body .terms label {
        padding-right: 38px;
        padding-left: 0;
    }
    
    [dir="rtl"] .register .container .register-body .terms .checkmark {
        right: 0;
        left: auto;
    }
    
    [dir="rtl"] .register .container .register-body .buttons .btn.blue-btn {
        margin-right: 0;
        margin-left: 20px;
    }
    
    [dir="rtl"] .register .text {
        padding-left: 0;
        padding-right: 16px;
    }
    
    [dir="rtl"] .register .logo {
        margin-left: 0;
        margin-right: auto;
    }
    
    [dir="rtl"] .sign-in::after {
        right: auto;
    }
    
    [dir="rtl"] .sign-in .container .sign-body {
        text-align: right;
    }
    
    [dir="rtl"] .sign-in .container .sign-body .buttons .btn.blue-btn {
        margin-left: 20px;
        margin-right: 0;
        font-size: 18px;
    }
    
    [dir="rtl"] .contact-us::after {
        right: auto;
    }
    
    [dir="rtl"] .contact-us .container .contact-body {
        text-align: right;
    }
    
    [dir="rtl"] .shopping-cart .container .cart-items {
        padding-left: 40px;
        padding-right: 0;
        text-align: right;
    }
    
    [dir="rtl"] .shopping-cart .container .cart-items .items .item {
        text-align: right;
    }
    
    [dir="rtl"] .shopping-cart .container .cart-items .items .item .quantity {
        margin-right: auto;
        margin-left: 0;
    }
    
    [dir="rtl"] .checkout {
        margin-left: 0;
        text-align: right;
    }
    
    [dir="rtl"] .confirm-payment {
        text-align: right;
    }
    
    [dir="rtl"] .confirm-payment .container .payment-tabs .field {
        margin-right: 0;
        margin-left: 30px;
        direction: ltr !important;
    }
    
    [dir="rtl"] .confirm-payment .container .payment-tabs .field label input:checked+span::after {
        right: 25px;
        left: auto;
    }
    
    [dir="rtl"] .confirm-payment .container .payment-tabs .field label span {
        padding-right: 56px;
        padding-left: 20px;
    }
    
    [dir="rtl"] .confirm-payment .container .payment-tabs .field label span:before {
        right: 20px;
        left: auto;
    }
    
    [dir="rtl"] .confirm-payment .container .fields .field .sub-label {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .confirm-payment .container .fields .field .input {
        padding-right: 15px;
        padding-left: 0;
    }
    
    [dir="rtl"] .confirm-payment .container .fields .field span {
        right: auto;
        left: 20px;
    }
    
    [dir="rtl"] .confirm-payment .container .fields .two-fields .field {
        margin-right: 0;
        margin-left: 29px;
    }
    
    [dir="rtl"] .confirm-payment .container .fields .two-fields .field:last-child {
        margin-right: 29px;
        margin-left: 0;
    }
    
    [dir="rtl"] .confirm-payment .container .right-side {
        margin-left: 0;
        margin-right: 60px;
    }
    
    [dir="rtl"] .confirm-payment .container .right-side .checkout .details li span {
        margin-left: 0;
        margin-right: auto;
    }
    
    [dir="rtl"] .confirm-payment .container .right-side .shopping-cart .cart-items .items .item {
        text-align: right;
    }
    
    [dir="rtl"] .confirm-payment .container .right-side .shopping-cart .cart-items .items .item .quantity {
        text-align: left;
        margin-right: auto;
        margin-left: 0;
    }
    
    [dir="rtl"] .background-title .title {
        text-align: right;
    }
    
    [dir="rtl"] .confirm-payment .container .right-side .shopping-cart .cart-items .items .item .quantity .quantity-control {
        margin-left: 0;
        margin-right: auto;
    }
    
    [dir="rtl"] .about-us .cards .card .container .details {
        text-align: right;
    }
    
    [dir="rtl"] .products-details {
        text-align: right;
    }
    
    [dir="rtl"] .products-details .heading .right-side {
        text-align: right;
        margin-left: 0;
        margin-right: auto;
    }
    
    [dir="rtl"] .products-details .details .item figure {
        margin-right: 40;
        margin-left: 40px;
    }
    
    [dir="rtl"] .products-details .details .right-side p span {
        margin-left: 0;
        margin-right: auto;
    }
    
    [dir="rtl"] .products-details .details .buttons .btn {
        margin-right: 0;
        margin-left: 19px;
    }
    
    [dir="rtl"] .products-details .details .buttons .btn figure {
        padding-right: 0;
        padding-left: 10px;
    }
    
    [dir="rtl"] .tabs-form .container .btn {
        margin-right: 0;
        margin-left: 60px;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent {
        text-align: right;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .fields .field .input {
        padding-left: 0;
        padding-right: 15px;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .fields .field .id figure {
        margin-right: 0;
        margin-left: 30px;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .fields .two-fields .field {
        margin-right: 0;
        margin-left: 29px;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .preference {
        padding: 0;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .preference .img-section .content .changeable {
        margin-right: auto;
        margin-left: 20px;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .preference .card .content .saved-cards .field .btn {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .preference .address .content .field .btn {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .cards2 .card2 {
        margin-right: 0;
        margin-left: 40px;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .cards2 .card2 .card-content {
        padding-left: 0;
        padding-right: 22px;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance {
        margin-left: 0;
        margin-right: 40px;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance>div {
        margin-right: 0;
        margin-left: 40px;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance .goals .chart .product .remains {
        margin-right: 6px;
        margin-left: 0;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance .store .block-head .btn {
        margin-left: 0;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance .wallet-content .fields .list .dropdown {
        padding-left: 0;
        padding-right: 15px;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance .wallet-content .fields .list .dropdown {
        background: url(../images/card-arrow.svg) no-repeat left 13px center;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance .wallet-content .fields .list .btn {
        margin-right: 18px;
        margin-left: 0;
    }
    
    [dir="rtl"] .tabs-contents #Tab2 .details .vertical-tabs .balance .wallet-content .fields .field span {
        left: 15px;
        right: auto;
    }
    
    [dir="rtl"] footer {
        text-align: right;
    }
    
    [dir="rtl"] footer .copyrights p {
        margin-right: 0;
    }
    
    [dir="rtl"] .confirm-payment .container .ship .btn {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .confirm-payment .container .ship .input {
        padding-right: 15px;
        padding-left: 0;
    }
    
    [dir="rtl"] .popup .popup_body .popup_contain {
        text-align: right;
    }
    
    [dir="rtl"] .popup .popup_body .popup_contain .fields .sub-label {
        left: 0;
        right: auto;
    }
    
    [dir="rtl"] .dropdown {
        background: url(../images/card-arrow.svg) no-repeat left 13px center;
    }
    
    [dir="rtl"] .popup .popup_body .popup_contain .fields .readonly span {
        left: 20px;
        right: auto;
    }
    
    [dir="rtl"] .accordion {
        text-align: right;
    }
    
    [dir="rtl"] .popup .popup-footer span {
        margin-left: 0;
        margin-right: auto;
    }
    
    [dir="rtl"] .tabs-contents .tabcontent .details .fields .two-fields .field:last-child {
        margin-left: 0;
    }
    
    [dir="rtl"] .popup .popup_body .popup_contain .fields .quantity .buttons {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .addcard-popup .sub-label {
        right: auto;
        left: 0;
    }
    
    [dir="rtl"] .addcard-popup .small-field {
        margin-left: 20px;
        margin-right: 0;
    }
    
    [dir="rtl"] .addcard-popup .input {
        padding-left: 0;
        padding-right: 15px;
    }
    
    [dir="rtl"] .confirm-payment .container .payment-tabs .field label input {
        right: -9999px;
    }
    
    [dir="rtl"] .page-heading .container .steps .step p span {
        margin-right: 0;
        margin-left: 10px;
    }
    
    [dir="rtl"] .virtual-gold .tabs .tab .details .certificate .item .certification-info {
        left: 29%;
    }
    /* arabic-responsive */
    
    @media all and (max-width: 1024px) {
        [dir="rtl"] .contact-us::after {
            content: none;
        }
        [dir="rtl"] .sign-in::after {
            content: none;
        }
        [dir="rtl"] .register::after {
            content: none;
        }
        [dir="rtl"] .register .container {
            display: block;
        }
        [dir="rtl"] .register .container .register-body .fields .two-fields {
            display: block;
        }
        [dir="rtl"] .register .container {
            padding: 30px 30px 20px 22px;
        }
    }
    
    @media all and (max-width: 768px) {
        .banner .bg img {
            opacity: 100%;
        }
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent .products {
            margin-right: 0;
        }
        .has-sidebar .container .has-sidebarcontent {
            display: block;
        }
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent .products {
            margin-right: 0;
        }
        [dir="rtl"] .virtual-gold .tabs #second>div {
            display: block;
        }
        [dir="rtl"] .virtual-gold .tabs #second>div .order {
            margin: 0;
            margin-top: 50px;
        }
        [dir="rtl"] .virtual-gold .tabs .tab .details .personal-details {
            padding: 0;
            padding-top: 50px;
        }
        [dir="rtl"] .confirm-payment .container .right-side {
            margin: 0;
        }
    }
    
    @media all and (max-width:540px) {
        [dir="rtl"] main .own-ingots .container {
            width: 500px;
        }
        [dir="rtl"] .banner .container {
            transform: translate(-25%, -50%);
        }
        [dir="rtl"] main .products .grid-container {
            grid-template-columns: auto;
        }
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent .products {
            margin-right: 0;
        }
    }
    
    @media all and (max-width: 414px) {
        [dir="rtl"] .topbar .container {
            display: block;
        }
        [dir="rtl"] .topbar.topbar .container .right-side .language {
            padding-right: 0;
        }
        [dir="rtl"] .topbar .container .right-side {
            margin-top: 15px;
        }
        [dir="rtl"] main .own-ingots .container {
            width: 400px;
        }
        [dir="rtl"] header {
            top: 76px;
        }
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent .products {
            margin-right: 0;
        }
    }
    
    @media all and(max-width:411px) {
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent {
            display: block;
        }
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent .products .grid-container {
            grid-template-columns: auto;
        }
        [dir="rtl"] .topbar .container {
            display: block;
        }
        [dir="rtl"] .topbar .container .right-side .language {
            padding-right: 0;
        }
        [dir="rtl"] .topbar .container .right-side {
            margin-top: 15px;
        }
        [dir="rtl"] header {
            top: 77px;
        }
        [dir="rtl"] footer .copyrights {
            display: block;
        }
    }
    
    @media all and (max-width: 280px) {
        [dir="rtl"] main .products .btn {
            width: 100%;
        }
        [dir="rtl"] main .own-ingots .container {
            width: 275px;
        }
        [dir="rtl"] .banner .container {
            transform: translate(-39%, -50%);
        }
        [dir="rtl"] .banner .container .title {
            font-size: 20px;
        }
        [dir="rtl"] .banner .container p {
            font-size: 15px;
        }
        [dir="rtl"] .banner .container .ratio>div {
            width: 275px;
        }
        [dir="rtl"].banner .container .ratio span {
            font-size: 15px;
        }
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent .products {
            margin-right: 0;
        }
        [dir="rtl"] .has-sidebar .container .has-sidebarcontent .sidebar {
            width: 100%;
        }
        [dir="rtl"] .sign-in .container .sign-body .buttons {
            display: block;
        }
        [dir="rtl"] .sign-in .container .sign-body .buttons .btn.outline-btn {
            margin-top: 15px;
        }
    }
    
    @media all and (max-width: 375px) {
        [dir="rtl"] .confirm-payment .container .fields .two-fields .field {
            margin-left: 0;
            margin-right: 0;
        }
        [dir="rtl"] .virtual-gold .tabs .tab .fields .field .input::placeholder {
            font-size: 13px;
        }
    }