.btn {
    outline: 0;
    border: 0;
    background: none;
    padding: 0;
    -webkit-appearance: none;
    height: 60px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.blue-btn {
    color: white;
    background: $primaryColor;
    border: 1px solid transparent;
    transition: .5s;
    &:hover {
        border: 1px solid $primaryColor;
        color: $primaryColor;
        background: transparent;
    }
}

.outline-btn {
    border: 1px solid $primaryColor;
    color: $primaryColor;
    background: transparent;
    transition: .5s;
    &:hover {
        color: white;
        background: $primaryColor;
        border: 1px solid transparent;
    }
}

.outline-red {
    border: 1px solid#E62727;
    color: #e62727;
    background: none;
    transition: .5s;
    &:hover {
        border: 1px solid transparent;
        background: #e62727;
        color: white;
    }
}

.white-btn {
    background: white;
    color: $primaryColor;
    border: 1px solid transparent;
    transition: .5s;
    &:hover {
        border: 1px solid white;
        color: white;
        background: transparent;
    }
}

.red-btn {
    background: #e62727;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
}