// General COLORS VARIABLES
$black: #272727;
$greyTextColor: #A1A1A1;
// Fonts
$font: 'Poppins',
sans-serif;
// Site Colors
$primaryColor:#015CAB;
$secondaryColor:#F1F1F1;
// Padding
$blockPadding: 100px 0 114px 0;
$bottomPadding:114px;
$topPadding:100px;